* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color:  #fff;
  color:  #555;
  font-family: 'Spectral SC', 'Noto Serif' ;
  text-rendering:  optimizeLegibility;
}

header {
  height: 100vh;
  margin: 0 auto;
  background-attachment: fixed;
  background-color: #1abc9c;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("https://images.unsplash.com/photo-1501868984184-76121ed6a6e2?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

.logo {
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
}

.space {
  width: 12px;
  display: inline-block;
}

.main-nav li {
  display:  inline-block;
  margin-left:  40px;
  text-decoration: none;
  margin-top: 35px;
}

.main-nav li a:link,
.main-nav li a:visited
 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition:  border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom:  2px solid #e67e22;
}

h1 {
  margin:  0;
  color:  #fff;
  font-size:  200%;
  text-transform:  uppercase;
  letter-spacing: 1px;
  word-spacing:  3px;
}

.hero-text-box {
  position: absolute;
  width: 100%;
  top:  50%;
  left:  50%;
  transform:  translate(-40%, -50%);
  color: white;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
}

.row {
  max-width:  1140px;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  height: 140px;
}

button {
  margin-left:  100px;
}

.divider {
  width: 10px;
  display: inline-block;
}

navbar {
  position:  fixed;
}

/* .loginwrapper {
  float: left;
  position: relative;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  right: -30%;
  margin: 5px;
} */

textarea {
  display: inline-block;
  background-image: url('https://i.pinimg.com/564x/6f/a6/61/6fa6616ba2cdc63d1f4f34ae06006bd0.jpg');
  height: 470px;
  width: 470px;
  background-size: 100%;
  background-position: center;
  background-color: lightblue;
  resize: none;
  font-size: 12.7px;
  font-weight: bold;
  color: lightgreen;
}

input {
  font-size: 12.7 px;
  font-weight: bold;
  color: orange;
}

form {
  color: green;
  font-weight: bold;
}

/*button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  color: orangered;
  font-weight: bold;
  border-style: normal;
  padding: none;
}*/

#enter {
  color: darkblue;
  font-size: 17.7;
}

h4 {
  font-family: sans-serif;
  color: lightblue;
}

/* #background {
  background-image:url('https://source.unsplash.com/1600x900/?nature');
  background-repeat:no-repeat;
  background-size: cover;
}
 */
/*#input {
  background-color: lightblue;
}

/* font-family: 'Poiret One', cursive;
font-family: 'Volkhov', serif;
font-family: 'Spectral SC', serif;
font-family: 'Noto Serif', serif; */


