
img {
  height: 77px;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],  1
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;  2
  cursor: pointer;  3
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;  1
  font: inherit;  2
  margin: 0;  3
}


textarea {
  display: inline-block;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXPIaltcAVQDXk6rqeUm_Rt_OVPCEK8gAjBphtHLjAGrC2DI3d');
  height: 200px;
  width: 200px;
  background-size: 100%;
  background-position: center;
  background-color: lightblue;
  resize: none;
  font-size: 12.7px;
  font-weight: bold;
  color: lightgreen;
  font-family: sans-serif;
}

input {
  font-size: 12.7 px;
  font-weight: bold;
  color: orange;
  font-family: sans-serif;
}

form {
  font-family: sans-serif;
  color: green;
  font-weight: bold;
}

button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  color: orangered;
  font-weight: bold;
  border-style: normal;
  padding: none;
}

#enter {
  color: darkblue;
  font-size: 17.7;
}

h4 {
  font-family: sans-serif;
  color: lightblue;
}
/*#input {
  background-color: lightblue;
}